--index-url=https://pypi.douban.com/simple
PyMySQL==0.9.3
SQLAlchemy==1.4.18
typer==0.3.2
sql-metadata==1.10.0
loguru==0.5.3
more-itertools==8.8.0
bidict==0.21.4
certifi==2021.10.8
charset-normalizer==2.0.7
idna==3.3
python-engineio==4.3.0
python-socketio==5.4.1
requests==2.26.0
urllib3==1.26.7
websocket-client==1.2.1
pymongo==4.0.1
pandas==1.3.5
clickhouse_driver==0.2.3
arrow==1.2.1
xlwt==1.3.0
corpwechatbot==0.6.1
retrying==1.3.3
kafka-python==2.0.2
openpyxl==3.0.9
grequests==0.6.0
